
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  height: 100%;
}

p {
  text-align: justify;
}

.container{
  padding-bottom: 60px; /* height of the footer */
}
#root {
  min-height: 100%;
  position: relative;
}
