.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
/* Home Component */
.home {
    width: 79%;
    margin-top: 30px;
    background-color: var(--component-background);
    transition: background-color 0.5s ease, color 0.5s ease;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    /*background: linear-gradient(to right, transparent, var(--component-background) 5%, var(--component-background) 90%, transparent);*/
    padding: 80px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-image-source: linear-gradient(to right, transparent, var(--border-color), transparent);*/
    /*border-image-slice: 1;*/
    z-index: 9;
}

/* Welcome Title Animation*/
.home-title {
    font-size: 36px;
    margin: 0 0 20px;
    color: var(--text-color);
    opacity: 0;
    transform: translateY(30px); /* Start slightly below its final position */
    animation: slideUpFade 1s ease forwards; /* Apply animation */
}
@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Description Animation */
.home-description {
    font-size: 18px;
    margin: 0;
    color: var(--text-color);
    opacity: 0; /* Start fully transparent */
    transform: translateY(20px); /* Start slightly below its final position */
    animation: fadeIn 1s ease 0.5s forwards; /* Delay to play after title */
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.home-information {
    font-size: 16px;
    width: 50%;
    background-color: var(--component-background-hover);
    padding: 50px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0;
    transform: translateY(-100%);
    animation: slideDown 1s ease-out 1s forwards;
    z-index: 1;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}