/* Default Theme Variables (Light Mode) */
:root {
  --background-color: #ffffff;
  --component-background: #d9d9d9;
  --component-background-hover: #f1f1f1;
  --border-color: #b3b3b3;
  --text-color: #000000;
  --button-background-color: #ffffff;
  --button-background-color-hover: #dddddd;
}

/* Dark Mode Variables */
[data-theme="dark"] {
  --background-color: #121212;
  --component-background: #1e1e1e;
  --component-background-hover: #2e2e2e;
  --border-color: #3a3a3a;
  --text-color: #e0e0e0;
  --button-background-color: #393939;
  --button-background-color-hover: #2e2e2e;
}

/*
* {
    border: 1px solid black;
}/* for debugging */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: var(--background-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}