
/* Footer Styling */
.footer {
    width: 100%;
    background-color: var(--component-background);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    color: var(--text-color);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Optional styling for footer text */
.footer p {
    margin: 0;
}

/* Left Section */
.footer-left {
    text-align: left;
}
.footer-left p {
    margin: 0;
    line-height: 1.5;
}

/* Right Section */
.footer-right {
    text-align: right;
}
.uni-logo {
    max-width: 100px;
    height: auto;
}