
.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: var(--component-background);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}


.contact-container h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--text-color);
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    background-color: var(--short-article-bg);
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.contact-item:hover {
    background-color: var(--short-article-bg-hover);
}

.contact-icon {
    font-size: 24px;
    color: var(--text-color);
}

.contact-link {
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.contact-link:hover {
    color: var(--text-color);
}
