@use './variables' as *;

.navbar {
  width: 100%;
  height: $navbar-height;
  @include theme($light-component-bg, $light-text-color);
  border-bottom: 1px solid $light-border;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  z-index: 10;

  // Navbar Sections
  &-left {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;

    .navbar-title {
      text-decoration: none;
      font-size: 20px;
      color: $light-text-color;
      font-weight: bold;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  // Center Navigation
  &-center {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .nav-item {
      position: relative;
      margin: 0 20px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        font-size: 16px;
        color: $light-text-color;
        padding: 0 10px;
        height: 100%;
        min-width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-component-bg;
        @include transition(background-color, 0.2s);

        &:hover {
          background-color: $light-component-bg-hover;
          border-radius: $border-radius;
        }
      }

      // Submenu
      .submenu {
        display: none;
        position: absolute;
        top: 100%; // Align below navbar
        left: 50%;
        transform: translate(-50%);
        background-color: $light-component-bg;
        @include border-style($light-border);
        list-style: none;
        padding: 0;
        z-index: 20;
        min-width: 100%;

        li {
          height: 60px;
          display: flex;
          align-items: center;
          text-align: center;
          white-space: nowrap;

          a {
            text-decoration: none;
            color: $light-text-color;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition(background-color, 0.2s);

            &:hover {
              background-color: $light-component-bg-hover;
            }
          }
        }
      }

      &:hover .submenu {
        display: block;
        height: auto;
      }
    }
  }

  // Right Section
  &-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .theme-toggle {
      padding: 5px 10px;
      @include border-style($light-border);
      background-color: $light-button-bg;
      color: $light-text-color;
      cursor: pointer;
      border-radius: $border-radius;
      @include transition(background-color, 0.2s);

      &:hover {
        background-color: $light-button-bg-hover;
      }
    }
  }
}

// dark theme updates
[data-theme='dark'] .navbar {
  @include theme($dark-component-bg, $dark-text-color);
  border-bottom: 1px solid $dark-border;

  .navbar-title {
    color: $dark-text-color;
  }

  .nav-item a {
    background-color: $dark-component-bg;
    color: $dark-text-color;

    &:hover {
      background-color: $dark-component-bg-hover;
    }
  }

  .submenu {
    @include border-style($dark-border);
    background-color: $dark-component-bg;

    li {
      a {
        color: $dark-text-color;

        &:hover {
          background-color: $dark-button-bg-hover
        }
      }
    }
  }

  .theme-toggle {
    background-color: $dark-button-bg;
    color: $dark-text-color;
    @include border-style($dark-border);

    &:hover {
      background-color: $dark-button-bg-hover;
    }
  }
}