// _variables.scss

// light
$light-bg: #ffffff;
$light-component-bg: #d9d9d9;
$light-component-bg-hover: #f1f1f1;
$light-border: #b3b3b3;
$light-text-color: #000000;
$light-button-bg: #ffffff;
$light-button-bg-hover: #dddddd;
// dark
$dark-bg: #121212;
$dark-component-bg: #1e1e1e;
$dark-component-bg-hover: #2e2e2e;
$dark-border: #3a3a3a;
$dark-text-color: #e0e0e0;
$dark-button-bg: #393939;
$dark-button-bg-hover: #2e2e2e;


$navbar-height: 60px;
$border-radius: 5px;

// Mixin for Theming
@mixin theme($bg, $text) {
  background-color: $bg;
  transition: background-color 0.5s ease, color 0.5s ease;
  color: $text;
}

//mixin for reusable borders
@mixin border-style($color) {
  border: 1px solid $color;
  border-radius: $border-radius;
}
