
.review-expanded td, .review-expanded tr{
    padding: 5px 0 !important;
    border: none !important;
}

.review-form-container {
    padding: 5px;
    text-align: center;
    background-color: var(--short-article-bg);
    border-radius: 5px;
}

.review-form-container h5 {
    margin: 5px;
    font-size: 18px;
    color: var(--text-color);
}

.review-action {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.review-slider {
    width: 60%;
    margin: 5px auto;
    display: block;
}

.review-score {
    font-size: 15px;
    font-weight: bold;
    margin: 5px auto;
    color: var(--text-color);
}

.review-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.submit-btn {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #4cae4c;
}

.cancel-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #c9302c;
}

.review-button-cell {
    text-align: center;
    border: none !important;
}

.review-button {
    padding: 6px 12px;
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
